html,
body {
  position: relative;
  color: #212121;
  width: 100%;
  height: 100%;
}

body {
  padding-bottom: 5rem;
}

body>main {
  /* margin to account for nav bar */
  margin-top: 6rem;
  margin-bottom: 20px;
}

header>nav {
  background-color: #222f3e;
  background-color: #130f40;
}

.navbar-brand,
.nav-link {
  color: rgb(85, 239, 196);

  transition: color 0.4s ease-out;
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(195, 255, 0);
}

.nav-link.active {
  color: #f6e58d;
}

.navbar-toggler {
  border-color: rgba(85, 239, 196, 1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(85, 239, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container {
  height: 100%;
  width: 100%;
}

.heroText {
  font-family: modesto-open-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 255, 0);
}

.bgimage {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/GridBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

h1 {
  color: #1f63a1;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 2rem auto;
  text-align: center;
}

.spacer {
  margin: 5rem auto 0;
}

h4 {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4em;
}

.minHeight {
  min-height: 80vh;
}

.halfViewHeight {
  min-height: 50vh;
}

.border-dash {
  border: 2px dashed navy;
  border-radius: 6px;
}

.dark-gray,
.light-gray {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 200;
  height: 100%;
  letter-spacing: 0.15rem;
  width: 100%;
  padding: 1rem 2rem;
}

.dark-gray {
  background-color: #212529;
}

.dark-gray-bg {
  background-color: #212529;
  color: #fff;
}

.light-gray {
  background-color: #6C757D;
}

.light-gray-bg {
  background-color: #6C757D;
  color: #fff;
}

#readMoreBtn {
  width: fit-content;
  margin-bottom: 2rem;
}

#search-form {
  width: 100%;
}

#search-input {
  display: inline-block;
  width: 100%;
}

#search-btn {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.article-link {
  color: #80d5fb;
  text-decoration: none;

  transition: color 0.6s ease-out;
}

.article-link:hover {
  color: rgb(195, 255, 0);
}

.__gh-lg {
  height: 20rem;
}

#grid-3 {
  height: fit-content;
}

@media only screen and (max-width: 575px) {

  #search-nav {
    margin-top: 1rem;
  }

  #expandable-content {
    margin-top: 0.5rem;
  }

  #expandable {
    height: fit-content;
  }
}
