html,
body {
  position: relative;
  color: #212121;
  width: 100%;
  min-height: 100%;
  height: fit-content;
}

html {
  background-color: #130f40;
}

body {
  background-color: #fff;
  overflow: overlay;
}

.heroText {
  font-family: modesto-open-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 255, 0);
  margin-top: 5rem;
}

.bgimage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/GridBG.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100%;
  height: 100%;
}

body>main {
  /* margin to account for nav bar */
  margin-top: 5rem;
  margin-bottom: 0;
}

header {
  background-color: #130f40;
  width: 100%;
  height: fit-content;
}

header>nav {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.navbar-brand,
.nav-link {
  color: rgb(85, 239, 196);

  transition: color 0.4s ease-out;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #F50FBA;
}

.nav-link.active {
  color: #f6e58d;
}

.navbar-toggler {
  border-color: rgba(85, 239, 196, 1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(85, 239, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.text-blue {
  color: #296EFD;
  font-weight: 600;
}

.text-blue:hover {
  color: #141040;
}

.top-margin {
  margin-top: 7rem;
}

.container-padding {
  min-height: 100vh;
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

h1 {
  color: #1f63a1;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 2rem auto 0;
  text-align: center;
}

h4 {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4em;
}

.minHeight {
  min-height: 80vh;
}

.border-dash {
  border: 2px dashed navy;
  border-radius: 6px;
}

.dark-gray,
.light-gray {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  padding: 1rem;
  height: calc(100vh - 10rem);
}

.dark-gray-25,
.light-gray-25 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  padding: 1rem;
  height: 25vh;
}

.dark-gray {
  background-color: #212529;
}

.dark-gray-bg {
  background-color: #212529;
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

.light-gray {
  background-color: #6C757D;
}

.light-gray-bg {
  background-color: #6C757D;
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

.dark-gray-25,
.light-gray-25 {
  height: 25rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
}

.dark-gray-25 {
  background-color: #212529;
}

.light-gray-25 {
  background-color: #6C757D;
}

#expandable {
  height: calc(50% - 0.25rem);
}

#expandable-content {
  height: calc(50% - 0.25rem);
  margin-top: 0.5rem;
}

#readMoreBtn {
  width: fit-content;
  margin-bottom: 2rem;
}

#search-form {
  width: 100%;
}

#search-input {
  display: inline-block;
  width: 100%;
}

#search-btn {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

#search-nav {
  margin: 0 0 1rem 0;
}

.article-link {
  color: #80d5fb;
  text-decoration: none;

  transition: color 0.6s ease-out;
}

.article-link:hover {
  color: rgb(195, 255, 0);
}

@media only screen and (max-width: 576px) {
  header.fixed-top {
    width: 100%;
    padding: 1rem 1rem;
  }

  header.fixed-top>nav {
    width: 100%;
    height: auto;
  }

  ul.navbar-nav>li.nav-item:first-of-type {
    margin-top: 1rem;
    border-top: 1px dashed rgb(85, 239, 196);
    border-bottom: 1px dashed rgb(85, 239, 196);
  }

  ul.navbar-nav>li.nav-item {
    border-bottom: 1px dashed rgb(85, 239, 196);
    text-align: center;
  }

  .heroText {
    margin-top: 10rem;
  }

  .container-padding {
    margin-top: 5rem;
  }

  #search-nav {
    margin: 1rem 0;
  }

  #expandable,
  #expandable-content {
    height: fit-content;
  }

  .col-h-2 {
    height: 50%;
  }

  .col-h-3 {
    height: 33.333333333%;
  }

  .col-h-4 {
    height: 25%;
  }
}

@media only screen and (max-width: 768px) {
  header.fixed-top {
    width: 100%;
    padding: 1rem 1rem;
  }

  header.fixed-top>nav {
    width: 100%;
  }

  ul.navbar-nav>li.nav-item:first-of-type {
    margin-top: 1rem;
    border-top: 1px dashed rgb(85, 239, 196);
    border-bottom: 1px dashed rgb(85, 239, 196);
  }

  ul.navbar-nav>li.nav-item {
    border-bottom: 1px dashed rgb(85, 239, 196);
    text-align: center;
  }
}
